<?xml version="1.0"?>
<config>
	<modules>
		<Vsourz_Layerslider>
			<version>0.1.0</version>
		</Vsourz_Layerslider>
	</modules>
	<frontend>
		<routers>
			<layerslider>
				<use>standard</use>
				<args>
					<module>Vsourz_Layerslider</module>
					<frontName>layerslider</frontName>
				</args>
			</layerslider>
		</routers>
		<layout>
			<updates>
				<layerslider>
					<file>layerslider.xml</file>
				</layerslider>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<layerslider>
				<use>admin</use>
				<args>
					<module>Vsourz_Layerslider</module>
					<frontName>layerslider</frontName>
				</args>
			</layerslider>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<layerslider>
					<file>layerslider.xml</file>
				</layerslider>
			</updates>
		</layout>
		<events>
			<admin_system_config_changed_section_layerslider>
				<observers>
					<writecss>
                        <type>singleton</type>
                        <class>layerslider/observer</class>
                        <method>writeToFileOnConfigSave</method>
                    </writecss>
				</observers>
			</admin_system_config_changed_section_layerslider>
			<controller_action_predispatch>
				<observers>
					<savefileconfig>
						<type>singleton</type>
						<class>layerslider/observer</class>
						<method>saveConfigOnConfigLoad</method>
					</savefileconfig>
				</observers>
			</controller_action_predispatch>		
		</events>
	</adminhtml>
	<global>
		<helpers>
			<layerslider>
				<class>Vsourz_Layerslider_Helper</class>
			</layerslider>
		</helpers>
		<blocks>
			<layerslider>
				<class>Vsourz_Layerslider_Block</class>
			</layerslider>
		</blocks>
		<models>
			<layerslider>
				<class>Vsourz_Layerslider_Model</class>
				<resourceModel>layerslider_resource</resourceModel>
			</layerslider>
			<layerslider_resource>
				<class>Vsourz_Layerslider_Model_Resource</class>
				<entities>
					<layerslider>
						<table>layerslider</table>
					</layerslider>
				</entities>
			</layerslider_resource>
		</models>
		<resources>
			<layerslider_setup>
				<setup>
					<module>Vsourz_Layerslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</layerslider_setup>
			<layerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </layerslider_write>
            <layerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </layerslider_read>
		</resources>
	</global>
	<default>
		 <layerslider>
			<settings>
				<loadjs>0</loadjs>
				<slidelinkurl>1</slidelinkurl>
				<autoplay>true</autoplay>
				<autoplayinterval>500</autoplayinterval>
				<pauseonhover>3</pauseonhover>
				<arrowkeynav>true</arrowkeynav>
				<slideduration>500</slideduration>
				<mindragoffset>20</mindragoffset>
				<playorientation>1</playorientation>
				<dragorientation>3</dragorientation>
				<arrownavigation>2</arrownavigation>
				<arrowautocenter>2</arrowautocenter>
				<bulletnavigation>2</bulletnavigation>
				<bulletautocenter>1</bulletautocenter>
				<bulletnumber>0</bulletnumber>
			</settings>
			<slidesettings>
				<slideeffects>random</slideeffects>
				<slideheight>500</slideheight>
				<slidewidth>1920</slidewidth>
				<transitionorder>1</transitionorder>
			</slidesettings>
			<captionsettings>
				<playinmode>1</playinmode>
				<playoutmode>3</playoutmode>
				<caption1>1</caption1>
				<captionduration1>500</captionduration1>
				<captioneffect1>$Clip:3,$FlyDirection:8,$Easing:$JssorEasing$.$EaseInCubic,$ScaleVertical:0.6,$Opacity:2</captioneffect1>
				<caption2>1</caption2>
				<captionduration2>500</captionduration2>
				<captioneffect2>$Zoom:1,$Easing:$JssorEasing$.$EaseInCubic,$Opacity:2</captioneffect2>
				<caption3>1</caption3>
				<captionduration3>500</captionduration3>
				<captioneffect3>$Duration:1400,$Zoom:1.5,$FlyDirection:1,$Easing:{$Left:$JssorEasing$.$EaseInWave,$Zoom:$JssorEasing$.$EaseInSine},$ScaleHorizontal:0.25,$Opacity:2,$ZIndex:-10,$Brother:{$Duration:1400,$Zoom:1.5,$FlyDirection:2,$Easing:{$Left:$JssorEasing$.$EaseInWave,$Zoom:$JssorEasing$.$EaseInSine},$ScaleHorizontal:0.25,$Opacity:2,$ZIndex:-10}</captioneffect3>
				<caption4>1</caption4>
				<captionduration4>500</captionduration4>
				<captioneffect4>$Clip:3,$FlyDirection:8,$Easing:$JssorEasing$.$EaseInCubic,$ScaleVertical:0.6,$Opacity:2</captioneffect4>
				<caption5>0</caption5>
				<captionduration5>500</captionduration5>
				<captioneffect5>l</captioneffect5>
				<captionimg1>1</captionimg1>
				<captionimgduration1>500</captionimgduration1>
				<captionimgeffect1>$Zoom:1,$Easing:$JssorEasing$.$EaseInCubic,$Opacity:2</captionimgeffect1>
				<captionimg2>1</captionimg2>
				<captionimgduration2>500</captionimgduration2>
				<captionimgeffect2>$Zoom:1,$Easing:$JssorEasing$.$EaseInCubic,$Opacity:2</captionimgeffect2>
			</captionsettings>
			<files>
				<packagename>base/default</packagename>
			</files>
		</layerslider>
	</default>
</config>