<?xml version="1.0"?>
<config>
    <modules>
        <Magecheckout_SocialLogin>
            <version>2.0.0</version>
        </Magecheckout_SocialLogin>
    </modules>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Magecheckout_SocialLogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <sociallogin>
                    <file>magecheckout/sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magecheckout_SocialLogin>
                    <files>
                        <default>Magecheckout_SocialLogin.csv</default>
                    </files>
                </Magecheckout_SocialLogin>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magecheckout_SocialLogin after="Mage_Adminhtml">Magecheckout_SocialLogin_Adminhtml
                        </Magecheckout_SocialLogin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sociallogin>
                    <file>magecheckout/sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magecheckout_SocialLogin>
                    <files>
                        <default>Magecheckout_SocialLogin.csv</default>
                    </files>
                </Magecheckout_SocialLogin>
            </modules>
        </translate>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <magecheckout_sociallogin_system_config_save>
                        <class>sociallogin/adminhtml_observer</class>
                        <method>adminhtmlSystemConfigSave</method>
                    </magecheckout_sociallogin_system_config_save>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <global>
        <models>
            <sociallogin>
                <class>Magecheckout_SocialLogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Magecheckout_SocialLogin_Model_Mysql4</class>
                <entities>
                    <author>
                        <table>magecheckout_sociallogin_author</table>
                    </author>
                </entities>
            </sociallogin_mysql4>
        </models>
        <resources>
            <magecheckout_sociallogin_setup>
                <setup>
                    <module>Magecheckout_SocialLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magecheckout_sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>
        <blocks>
            <sociallogin>
                <class>Magecheckout_SocialLogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Magecheckout_SocialLogin_Helper</class>
            </sociallogin>
        </helpers>
        <events>
            <controller_action_predispatch_sociallogin_popup_login>
                <observers>
                    <captcha>
                        <class>sociallogin/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_sociallogin_popup_login>
            <controller_action_predispatch_sociallogin_popup_create>
                <observers>
                    <captcha>
                        <class>sociallogin/observer</class>
                        <method>checkUserCreate</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_sociallogin_popup_create>
            <controller_action_predispatch_sociallogin_popup_forgot>
                <observers>
                    <captcha>
                        <class>sociallogin/observer</class>
                        <method>checkUserForgot</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_sociallogin_popup_forgot>
            <controller_action_postdispatch_customer_account_editPost>
                <observers>
                    <magecheckout_sociallogin_customer_save_after_observer>
                        <class>sociallogin/observer</class>
                        <method>customerAccountEditPost</method>
                    </magecheckout_sociallogin_customer_save_after_observer>
                </observers>
            </controller_action_postdispatch_customer_account_editPost>
        </events>
    </global>

    <default>
        <sociallogin>
            <general>
                <is_enabled>1</is_enabled>
                <header_link_selector>#header-account .links ul</header_link_selector>
                <custom_link_selector>.one-step-checkout-login-link</custom_link_selector>
                <style_color>#3399cc</style_color>
                <popup_effect>mfp-zoom-in</popup_effect>
            </general>
            <facebook>
                <is_enabled>1</is_enabled>
                <send_password>1</send_password>
            </facebook>
            <google>
                <send_password>1</send_password>
            </google>
            <twitter>
                <send_password>1</send_password>
            </twitter>
            <linkedin>
                <send_password>1</send_password>
            </linkedin>

            <instagram>
                <send_password>1</send_password>
            </instagram>


        </sociallogin>
    </default>

</config>