<?xml version="1.0"?>
<config>
    <modules>
        <Magehit_Isfeatured>
            <version>1.0.6</version>
        </Magehit_Isfeatured>
    </modules>
    <frontend>
        <routers>
            <isfeatured>
                <use>standard</use>
                <args>
                    <module>Magehit_Isfeatured</module>
                    <frontName>isfeatured</frontName>
                </args>
            </isfeatured>
        </routers>
        <layout>
            <updates>
                <festock>
                    <file>isfeatured.xml</file>
                </festock>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <isfeatured>
                <class>Magehit_Isfeatured_Helper</class>
            </isfeatured>
        </helpers>
        <blocks>
            <isfeatured>
                <class>Magehit_Isfeatured_Block</class>
            </isfeatured>
        </blocks>
        <models>
            <isfeatured>
                <class>Magehit_Isfeatured_Model</class>
                <resourceModel>isfeatured_mysql4</resourceModel>
            </isfeatured>
        </models>
        <resources>
            <isfeatured_setup>
                <setup>
                    <module>Magehit_Isfeatured</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </isfeatured_setup>
            <isfeatured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </isfeatured_write>
            <isfeatured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </isfeatured_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <isfeatured>
                                            <title>Store Is featured option</title>
                                        </isfeatured>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <isfeatured>
            <genneral_setting>
                <enabled>1</enabled>
                <jqueryinclude>0</jqueryinclude>
            </genneral_setting>
			<horizontal_carousels_setting>
				<title>Featured Products</title>
				<product_no>20</product_no>
				<slide_itemsonpage>4</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</horizontal_carousels_setting>
			<vertical_carousels_setting>
				<title>Featured Products</title>
				<product_no>10</product_no>
				<slide_itemsonpage>1</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</vertical_carousels_setting>
        </isfeatured>
    </default>
</config> 
