<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <socialshare>
            <label>Social Share</label>
            <sort_order>150</sort_order>
        </socialshare>
    </tabs>
    <sections>
          <facebookcomments translate="label" module="facebookcomments">
            <label>Facebook Comments</label>
            <tab>socialshare</tab>
            <frontend_type>text</frontend_type>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <conf translate="label">
                    <label>Facebook Comments</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<!--
                        <active translate="label">
                            <label>Extentions Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
						-->
						<posts translate="label">
                            <label>Number of Posts</label>
							<comment>minimup posts</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </posts>
						<width translate="label">
                            <label>Width</label>
							<comment>in pixels</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
						<colorscheme translate="label">
                            <label>Color Scheme</label>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookcomments/system_config_source_dropdown_colorscheme</source_model>
							<sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </colorscheme>
                    </fields>
                </conf>
				
				<position translate="label">
                    <label>Position</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
				
						<prod_bottom translate="label">
                            <label>Product Page Bottom</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prod_bottom>
						
                    </fields>
				</position>
	        </groups>
        </facebookcomments>
    </sections>
</config>