<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_PagSeguro>
            <version>2.5.3</version>
        </RicardoMartins_PagSeguro>
    </modules>
    <global>
        <models>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Model</class>
            </ricardomartins_pagseguro>
        </models>
        <blocks>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Block</class>
            </ricardomartins_pagseguro>
        </blocks>
        <helpers>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Helper</class>
            </ricardomartins_pagseguro>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ricardomartins_pagseguro>
                <use>standard</use>
                <args>
                    <module>RicardoMartins_PagSeguro</module>
                    <frontName>pseguro</frontName>
                </args>
            </ricardomartins_pagseguro>
        </routers>
        <translate>
            <modules>
                <ricardomartins_pagseguro>
                    <files>
                        <default>RicardoMartins_PagSeguro.csv</default>
                    </files>
                </ricardomartins_pagseguro>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <pagseguro>
                        <class>ricardomartins_pagseguro/observer</class>
                        <method>addDirectPaymentBlock</method>
                    </pagseguro>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ricardomartins_pagseguro>
                    <file>ricardomartins_pagseguro/pagseguro.xml</file>
                </ricardomartins_pagseguro>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <pagseguro_cc>
                <active>0</active>
                <title>Cartão de Crédito - via PagSeguro UOL</title>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguro/payment_cc</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>0</send_neworder_email>
                <!--<specificcountry>BR</specificcountry>-->
                <group_restriction>0</group_restriction>
            </pagseguro_cc>
            <pagseguro>
                <customer_cpf_attribute>taxvat</customer_cpf_attribute>
                <address_street_attribute>street_1</address_street_attribute>
                <address_number_attribute>street_2</address_number_attribute>
                <address_neighborhood_attribute>street_2</address_neighborhood_attribute>
                <ws_url>https://ws.pagseguro.uol.com.br/v2/</ws_url>
                <ws_url_app>https://ws.ricardomartins.net.br/pspro/v6/wspagseguro/v2/</ws_url_app>
                <!--<ws_url_app>http://ws.local.com.br/pspro/v6/wspagseguro/v2/</ws_url_app>-->
                <js_url>https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js</js_url>
                <sandbox_ws_url>https://ws.sandbox.pagseguro.uol.com.br/v2/</sandbox_ws_url>
                <sandbox_ws_url_app>https://ws.ricardomartins.net.br/pspro/v6/wspagseguro/sandbox/v2/</sandbox_ws_url_app>
                <!--<sandbox_ws_url_app>http://ws.local.com.br/pspro/v6/wspagseguro/sandbox/v2/</sandbox_ws_url_app>-->
                <sandbox_js_url>https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js</sandbox_js_url>
            </pagseguro>
        </payment>
    </default>
</config>
