<?xml version="1.0"?>
<config>
    <modules>
		<Magehit_Customerredirect>
			<version>0.0.1</version>
		</Magehit_Customerredirect>
	</modules>
    <global>
        <helpers>
			<customerredirect>
				<class>Magehit_Customerredirect_Helper</class>
			</customerredirect>
		</helpers>
        
        <models>
			<customerredirect>
				<class>Magehit_Customerredirect_Model</class>
			</customerredirect>
		</models> 
	    
    </global>
    <frontend>
        <routers>
            <customerredirect>
                <use>standard</use>
                <args>
                    <module>Magehit_Customerredirect</module>
                    <frontName>customerredirect</frontName>
                </args>
            </customerredirect>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <customerredirect>
                        <class>customerredirect/observer_customer</class>
                        <method>customerLogin</method>
                    </customerredirect>
                </observers>
            </customer_login>
            <customer_register_success>
		        <observers>
		          <customerredirect>
		            <class>customerredirect/observer_customer</class>
                    <method>customerRegistration</method>
		          </customerredirect>
		        </observers>
		    </customer_register_success>
			<controller_action_postdispatch_customer_account_logout>
		        <observers>
		          <customerredirect>
		            <class>customerredirect/observer_customer</class>
                    <method>customerLogout</method>
		          </customerredirect>
		        </observers>
		    </controller_action_postdispatch_customer_account_logout>
        </events>
    </frontend>
</config>