/*===================================================================
|                            CONFIGUARATION STYLE                    |
====================================================================*/

#social-login-popup .social-login-title {
background-color: #3399cc}

#social-login-popup .block-container .block .block-content .actions-toolbar button {
background-color: #3399cc;
border: #3399cc}

/*===================================================================
|                           END CONFIGUARATION STYLE                 |
====================================================================*/


/*===================================================================
|                           Custom STYLE                             |
====================================================================*/
/*===================================================================
|                           End Custom STYLE                         |
====================================================================*/
